.container {
  text-align: center;
  padding: 2rem;
  min-height: 100vh;
  background-image: url('/background04.png'); /* Place image inside public/ */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 70px;
  color: #000000;
  margin-left: -420px;
  margin-bottom: -50px;
  text-shadow: 1px 1px 2px #fff;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: -350px;
  margin-top: 80px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  background-color: rgba(162, 226, 243, 0.9);
  border-radius: 40px;
  
  height: 250px;
  width: 220px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-right: 80px;
  margin-bottom: 30px;
}

.card:hover {
  transform: translateY(-5px);
  
}

.cardTitle {
  font-weight: bold;
  margin-bottom: 2px;
  font-size: 25px;
  color: #333;
  margin-top: 10px;
}

.image {
  border-radius: 50%;          /* Makes image round */
  border: 2px solid #1669ad;   /* Adds a border */
  padding: 5px;                /* Adds space inside the border */
  background-color: #fff;      /* Optional background */
  transition: transform 0.3s ease;
  width: 180px;                /* Adjust width */
  height: 180px;
  margin-left: 20px; 
                /* Adjust height */
}

.card:hover .image {
  
    transform: scale(1.1); 
}
