.container {
    background-image: url('/background04.png'); /* Ensure this file is in the public/ folder */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps background fixed */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
  }
  
  .form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 16px;
    margin-left: -750px;
    margin-top:20px;
    max-width: 500px;
    width: 100%;
    max-height: 100%; /* Limit form height */
    overflow-y: auto;  /* Enable scroll inside form */
    display: flex;
    flex-direction: column;
    gap: 15px;
   
  }
  
  /* Optional: Nice scrollbar styling */
  .form::-webkit-scrollbar {
    width: 0.0000001px;
  }
  .form::-webkit-scrollbar-thumb {
    background-color: #0cabf4;
    border-radius: 10px;
    
  }
  .form::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #000004;
    margin-bottom: 10px;
  }
  
  .form label {
    font-weight: 500;
    color: #333;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .input {
    background-color: #b3e5fc;
    border: none;
    border-radius: 12px;
    padding: 10px 15px;
    font-size: 14px;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .input::placeholder {
    color: #555;
  }
  
  .input:focus {
    background-color: #81d4fa;
  }
  
  .submitButton {
    margin-top: 10px;
    padding: 5px;
    width: 100px;
    background-color: #0d1feb;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border: none;
    margin-left: 340px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #0a0db0;
  }

  .form02 {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 16px;
    margin-left: -750px;
    max-width: 500px;
    width: 100%;
    max-height: 100%; /* Limit form height */
    overflow-y: auto;  /* Enable scroll inside form */
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: -250px;
   
  }
  

  .form02::-webkit-scrollbar {
    width: 0.0000001px;
  }
  .form02::-webkit-scrollbar-thumb {
    background-color: #0cabf4;
    border-radius: 10px;
    
  }
  .form02::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }


