.container {
  background-image: url('/background04.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 16px;
  width: 100%;
  max-width: 800px;
  max-height: 100vh;
  overflow-y: auto;
  display: flex;
  margin-left: -500px;
  flex-direction: column;
  gap: 15px;
}

/* Scrollbar styling */
.form::-webkit-scrollbar {
  width: 0.00000001px;
}
.form::-webkit-scrollbar-thumb {
  background-color: #0cabf4;
  border-radius: 10px;
}
.form::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.title {
  text-align: center;
  margin-top: 80px;
  font-size: 50px;
  font-weight: bold;
  color: #000004;
  margin-bottom: 10px;
}

.form label {
  font-weight: 700;
  color: #333;
  font-size: 24px;
}

.input {
  background-color: #b3e5fc;
  border: 2px solid #000004;
  border-radius: 18px;
  padding: 10px;
  font-size: 18px;
  outline: none;
  width: 70%;
  font-weight: 500;
  height: 60px;
  transition: background-color 0.3s ease;
}

.input::placeholder {
  color: #020202;
  font-size: 16px;
}

.input:focus {
  background-color: #81d4fa;
}

.submitButton {
  margin-top: 20px;
  padding: 15px;
  width: 100%;
  max-width: 200px;
  align-self: center;
  background-color: #0d1feb;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #0a0db0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .title {
    font-size: 36px;
  }

  .form label {
    font-size: 20px;
  }

  .input {
    font-size: 16px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 20px 10px;
  }

  .title {
    font-size: 28px;
  }

  .form {
    padding: 20px;
    gap: 10px;
  }

  .form label {
    font-size: 18px;
  }

  .input {
    font-size: 16px;
    height: 45px;
  }

  .submitButton {
    font-size: 16px;
    padding: 12px;
  }
}
